
/**
 * styles/colorscheme.scss
 */

// Highlights
$color-sun:             #ffb610;
$color-cinnabar:        #e54124;
$color-crimson:         #e1112c;
$color-malachite:       #1bb934;
$color-azure:           #0093ee;
$color-portage:         #ab7ef6;

// Text
$color-athens-gray:     #fafbfc;
$color-barley-white:    #fff5cd;
$color-regent-st-blue:  #a9c7df;
$color-nepal:           #8eacc5;

// Borders
$color-oxford-blue:     #323e4f;

// Backgrounds
$color-ebony-clay:      #232d3d;
$color-ebony-clay-2:    #283243;
$color-mirage:          #171e29;
$color-mirage-2:        #1c2532;

// Vue Tour background color
$color-vue-tour-bg:     #50596c;
