
/**
 * styles/colorscheme.scss
 */

// Highlights
$color-sun:             #ffb610;
$color-cinnabar:        #e54124;
$color-crimson:         #e1112c;
$color-malachite:       #1bb934;
$color-azure:           #0093ee;
$color-portage:         #ab7ef6;

// Text
$color-athens-gray:     #fafbfc;
$color-barley-white:    #fff5cd;
$color-regent-st-blue:  #a9c7df;
$color-nepal:           #8eacc5;

// Buttons
$color-oxford-blue-2:   #444f5f;

// Borders
$color-oxford-blue:     #323e4f;

// Backgrounds
$color-slate-gray:      #50596c;
$color-ebony-clay-2:    #283243;
$color-ebony-clay:      #232d3d;
$color-mirage-2:        #1c2532;
$color-mirage:          #171e29;

// Export variables to use in the JS scripts
:export {
	sun:            $color-sun;
	cinnabar:       $color-cinnabar;
	crimson:        $color-crimson;
	malachite:      $color-malachite;
	azure:          $color-azure;
	portage:        $color-portage;

	athensGray:     $color-athens-gray;
	barleyWhite:    $color-barley-white;
	regentStBlue:   $color-regent-st-blue;
	nepal:          $color-nepal;

	oxfordBlue2:    $color-oxford-blue-2;

	oxfordBlue:     $color-oxford-blue;

	slateGray:      $color-slate-gray;
	ebonyClay2:     $color-ebony-clay-2;
	ebonyClay:      $color-ebony-clay;
	mirage2:        $color-mirage-2;
	mirage:         $color-mirage;
}
