
/**
 * styles/colors-export.scss
 */

@use 'colors' as *;

:export {
	sun:            $color--sun;
	cinnabar:       $color--cinnabar;
	crimson:        $color--crimson;
	malachite:      $color--malachite;
	azure:          $color--azure;
	portage:        $color--portage;

	athensGray:     $color--athens-gray;
	barleyWhite:    $color--barley-white;
	regentStBlue:   $color--regent-st-blue;
	nepal:          $color--nepal;

	oxfordBlue2:    $color--oxford-blue-2;

	oxfordBlue:     $color--oxford-blue;

	slateGray:      $color--slate-gray;
	ebonyClay2:     $color--ebony-clay-2;
	ebonyClay:      $color--ebony-clay;
	mirage2:        $color--mirage-2;
	mirage:         $color--mirage;
}
