
/**
 * styles/colorscheme.scss
 */

// Highlights
$color-sun:             #ffb610;
$color-cinnabar:        #e54124;
$color-crimson:         #e1112c;
$color-malachite:       #1bb934;
$color-azure:           #0194ef;
$color-dodger-blue:     #2ea2f9;
$color-portage:         #ab7ef6;

// Light foregrounds
$color-regent-st-blue:  #a9c7df;
$color-nepal:           #8eacc5;

// Light backgrounds
$color-athens-gray:     #fafbfc;
$color-barley-white:    #fff5cd;

// Dark backgrounds
$color-oxford-blue:     #323e4f;
$color-ebony-clay-2:    #283243;
$color-ebony-clay:      #232d3d;
$color-mirage:          #1c2532;
