
/**
 * styles/exports.scss
 */

:export {
	fretWidth:            layout.$fret-width;
	openStringFretLength: layout.$open-string-fret-length;

	stringThickness:      layout.$string-thickness;
	fretbarThickness:     layout.$fretbar-thickness;
}
