
/**
 * styles/exports.css
 */

@use "@/styles/layout";

:export {
	openStringFretsSize: layout.$open-string-fret-size;
	stringThickness:     layout.$string-thickness;
	fretThickness:       layout.$fret-thickness;
}
