
/**
 * styles/global.scss
 */

/**
 * Layout
 * -----------------------------------------------------------------------------
 */

body {
	background-color: snow;
}

/**
 * Text
 * -----------------------------------------------------------------------------
 */

p,
a,
h1,
h2 {
	font-family: 'IBM Plex', helvetica, arial, sans-serif;

	cursor: default;
	user-select: none;
}

/**
 * Tooltip
 * -----------------------------------------------------------------------------
 */

.tooltip {
	display: block !important;

	z-index: 1000;

	.tooltip-inner {
		padding: 5px 10px 4px;

		border-radius: 16px;

		color: white;
		background-color: black;
	}

	.tooltip-arrow {
		position: absolute;

		width: 0;
		height: 0;

		margin: 5px;

		border-style: solid;
		border-color: black;
	}

	&[x-placement^="top"] {
		margin-bottom: 5px;

		.tooltip-arrow {
			bottom: -5px;
			left: calc(50% - 5px);

			margin-top: 0;
			margin-bottom: 0;

			border-width: 5px 5px 0 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
		}
	}

	&[x-placement^="bottom"] {
		margin-top: 5px;

		.tooltip-arrow {
			top: -5px;
			left: calc(50% - 5px);

			margin-top: 0;
			margin-bottom: 0;

			border-width: 0 5px 5px 5px;
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			border-top-color: transparent !important;
		}
	}

	&[x-placement^="right"] {
		margin-left: 5px;

		.tooltip-arrow {
			left: -5px;
			top: calc(50% - 5px);

			margin-left: 0;
			margin-right: 0;

			border-width: 5px 5px 5px 0;
			border-left-color: transparent !important;
			border-top-color: transparent !important;
			border-bottom-color: transparent !important;
		}
	}

	&[x-placement^="left"] {
		margin-right: 5px;

		.tooltip-arrow {
			right: -5px;
			top: calc(50% - 5px);

			margin-left: 0;
			margin-right: 0;

			border-width: 5px 0 5px 5px;
			border-top-color: transparent !important;
			border-right-color: transparent !important;
			border-bottom-color: transparent !important;
		}
	}

	&.popover {
		.popover-inner {
			border: 2px solid black;
			border-radius: 5px;

			box-shadow: 0 5px 30px rgba(black, .1);

			color: #222;
			background-color: white;
		}

		.popover-arrow {
			border-color: black;
		}
	}

	&[aria-hidden="true"] {
		opacity: 0;
		visibility: hidden;

		transition: opacity .15s, visibility .15s;
	}

	&[aria-hidden="false"] {
		opacity: 1;
		visibility: visible;

		transition: opacity .15s;
	}
}
