
/**
 * styles/layout.export.scss
 */

:export {
	mqBreakpointDesktop:     layout.$mq-breakpoint-desktop;

	selectOptionsHeight:     layout.$select-options-height;
	selectOptionsItemHeight: layout.$select-options-item-height;

	fretWidth:               layout.$fret-width;
	minFretLength:           layout.$min-fret-length;
	openStringFretLength:    layout.$open-string-fret-length;
	fretNumberWrapperSize:   layout.$fret-number-wrapper-size;

	stringThickness:         layout.$string-thickness;
}
