
/**
 * styles/slider.scss
 */

@mixin triangle($size, $color, $direction)
{
	width: 0;
	height: 0;

	border-color: transparent;
	border-style: solid;
	border-width: $size / 2;

	@if $direction == top
	{
		border-bottom-color: $color;
	}
	@else if $direction == right
	{
		border-left-color: $color;
	}
	@else if $direction == bottom
	{
		border-top-color: $color;
	}
	@else if $direction == left
	{
		border-right-color: $color;
	}
}

@mixin arrow($size, $color)
{
	&::after {
		content: "";
		position: absolute;
	}

	&-top::after {
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		@include triangle($size, $color, bottom);
	}

	&-bottom::after {
		left: 50%;
		bottom: 100%;
		transform: translate(-50%, 0);
		@include triangle($size, $color, top);
	}

	&-left::after {
		top: 50%;
		left: 100%;
		transform: translate(0, -50%);
		@include triangle($size, $color, right);
	}

	&-right::after {
		top: 50%;
		right: 100%;
		transform: translate(0, -50%);
		@include triangle($size, $color, left);
	}
}

.vue-slider {
	cursor: pointer;
}

.vue-slider-rail,
.vue-slider-process {
	border-radius: 15px;
}

.vue-slider-rail {
	background-color: var(--color--bg--highlight);
	transition: background-color 0.2s;
}

.vue-slider-process {
	background-color: var(--color--text--secondary);

	.vue-slider:hover & {
		background-color: var(--color--hover);
	}
}

.vue-slider-dot-handle {
	width: 100%;
	height: 100%;

	border-radius: 50%;

	background-color: var(--color--border);

	cursor: grab;

	&:hover, &-focus {
		background-color: var(--color--hover);
	}

	&-focus {
		cursor: grabbing;
	}
}

.vue-slider-dot-tooltip-inner {
	min-width: 20px;

	padding: 6px;
	border-radius: 4px;

	color: white;
	border-color: var(--color--bg--tooltip);
	background-color: var(--color--bg--tooltip);

	font-size: 1.4rem;

	text-align: center;
	white-space: nowrap;

	@include arrow(10px, inherit);
}
