
/**
 * styles/slider.scss
 */

@use 'fonts'  as *;
@use 'colors' as *;

/**
 * Mixins
 * {{{
 */
@mixin triangle($size, $color, $direction)
{
	width: 0;
	height: 0;

	@if ($direction==top) or ($direction==bottom) or ($direction==right) or ($direction==left)
	{
		border-color: transparent;
		border-style: solid;
		border-width: $size / 2;

		@if $direction == top
		{
			border-bottom-color: $color;
		}
		@else if $direction == right
		{
			border-left-color: $color;
		}
		@else if $direction == bottom
		{
			border-top-color: $color;
		}
		@else if $direction == left
		{
			border-right-color: $color;
		}
	}
}

@mixin arrow($size, $color)
{
	&::after {
		content: '';
		position: absolute;
	}

	&-top {
		&::after {
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			@include triangle($size, $color, bottom);
		}
	}

	&-bottom {
		&::after {
			left: 50%;
			bottom: 100%;
			transform: translate(-50%, 0);
			@include triangle($size, $color, top);
		}
	}

	&-left {
		&::after {
			top: 50%;
			left: 100%;
			transform: translate(0, -50%);
			@include triangle($size, $color, right);
		}
	}

	&-right {
		&::after {
			top: 50%;
			right: 100%;
			transform: translate(0, -50%);
			@include triangle($size, $color, left);
		}
	}
}
/**
 * }}}
 */

.vue-slider {
	cursor: pointer;
}

.vue-slider-disabled {
	cursor: not-allowed;
}

.vue-slider-rail {
	border-radius: 15px;
	background-color: var(--color--bg--accent);

	transition: background-color 0.2s;
}

.vue-slider-process {
	border-radius: 15px;
	background-color: var(--color--border);

	transition: background-color 0.2s;
}

.vue-slider-dot-handle {
	width: 100%;
	height: 100%;

	border-radius: 50%;
	border: 1px solid var(--color--text);

	background-color: var(--color--border);

	cursor: grab;

	transition: border-color 0.2s, background-color 0.2s;

	@at-root &-focus {
		background-color: lightgray;
		cursor: grabbing;
	}

	@at-root &-disabled {
		cursor: not-allowed;
	}
}

.vue-slider-dot-tooltip {
	border-radius: 4px;

	color: white;
	background-color: $color--slate-gray;

	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.vue-slider-dot-tooltip-inner {
	min-width: 20px;

	padding: 6px;

	border-color: $color--slate-gray;

	font-size: 1.4rem;
	font-family: $fonts-text;

	text-align: center;
	white-space: nowrap;

	@include arrow(10px, inherit);
}
